.flex-container-row {
    display: flex;
    flex: 1;
}

.flex-container-row div {
    border-style: solid;
    border-width: 1px;
    flex: 1;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}